output

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.nav
*.snm
*.vrb

# Font temp files
*.tfm
*.1080pk
*.pk

# macOS
.DS_Store

# Python
__pycache__/
*.pyc